<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">Mondu Payment</label>
    <label lang="de">Mondu Payment</label>

    <version>2.1.4</version>
    <copyright>(c) Mondu GmbH</copyright>
    <author>Mondu GmbH</author>
    <link>https://mondu.ai</link>
    <license>proprietary</license>
    <compatibility minVersion="5.6.4"/>

    <description lang="en">This module offers you Mondu as a checkout option</description>
    <description lang="de">This module offers you Mondu as a checkout option</description>

    <changelog version="2.1.4">
        <changes lang="en">Bugfixes and improvements</changes>
        <changes lang="de">Bugfixes and improvements</changes>
    </changelog>

    <changelog version="2.1.3">
        <changes lang="en">Added OrderAdditionalCostsService that can be overwritten to include additional fees associated with order</changes>
        <changes lang="de">Added OrderAdditionalCostsService that can be overwritten to include additional fees associated with order</changes>
    </changelog>

    <changelog version="2.1.2">
        <changes lang="en">Bugfixes and improvements</changes>
        <changes lang="de">Bugfixes and improvements</changes>
    </changelog>

    <changelog version="2.1.1">
        <changes lang="en">Bugfixes and improvements</changes>
        <changes lang="de">Bugfixes and improvements</changes>
    </changelog>

    <changelog version="2.1.0">
        <changes lang="en">Changes for pending Mondu state</changes>
        <changes lang="de">Changes for pending Mondu state</changes>
    </changelog>

    <changelog version="2.0.3">
        <changes lang="en">Bugfixes and improvements</changes>
        <changes lang="de">Bugfixes and improvements</changes>
    </changelog>
    <changelog version="2.0.2">
        <changes lang="en">Allow merchants to use custom documents for ivoice</changes>
        <changes lang="de">Allow merchants to use custom documents for ivoice</changes>
    </changelog>
    <changelog version="2.0.1">
        <changes lang="en">Non existent service bugfix</changes>
        <changes lang="de">Non existent service bugfix</changes>
    </changelog>
    <changelog version="2.0.0">
        <changes lang="en">Hosted Checkout</changes>
        <changes lang="de">Hosted Checkout</changes>
    </changelog>
    <changelog version="1.0.23">
        <changes lang="en">Minor improvement</changes>
        <changes lang="de">Minor improvement</changes>
    </changelog>
    <changelog version="1.0.22">
        <changes lang="en">Minor improvement</changes>
        <changes lang="de">Minor improvement</changes>
    </changelog>
    <changelog version="1.0.21">
        <changes lang="en">Minor bugfix</changes>
        <changes lang="de">Minor bugfix</changes>
    </changelog>
    <changelog version="1.0.20">
        <changes lang="en">Minor bugfix</changes>
        <changes lang="de">Minor bugfix</changes>
    </changelog>
    <changelog version="1.0.19">
        <changes lang="en">Minor bugfix in create order data</changes>
        <changes lang="de">Minor bugfix in create order data</changes>
    </changelog>
    <changelog version="1.0.18">
        <changes lang="en">Added net term to pdf template</changes>
        <changes lang="de">Added net term to pdf template</changes>
    </changelog>
    <changelog version="1.0.17">
        <changes lang="en">New logo + Bugfix for 5.6.x shopware versions</changes>
        <changes lang="de">New logo + Bugfix for 5.6.x shopware versions</changes>
    </changelog>
    <changelog version="1.0.16">
        <changes lang="en">Basket amount bugfix for different pricing options.</changes>
        <changes lang="de">Basket amount bugfix for different pricing options.</changes>
    </changelog>
    <changelog version="1.0.15">
        <changes lang="en">Saving authorized net terms in the plugin.</changes>
        <changes lang="de">Saving authorized net terms in the plugin.</changes>
    </changelog>
    <changelog version="1.0.14">
        <changes lang="en">Send error events to Mondu.</changes>
        <changes lang="de">Send error events to Mondu.</changes>
    </changelog>
    <changelog version="1.0.13">
        <changes lang="en">Bugfixes and improvements.</changes>
        <changes lang="de">Bugfixes and improvements.</changes>
    </changelog>
    <changelog version="1.0.12">
        <changes lang="en">Bugfix for invalid webhook urls.</changes>
        <changes lang="de">Bugfix for invalid webhook urls.</changes>
    </changelog>
    <changelog version="1.0.11">
        <changes lang="en">Changed Http client used by the plugin.</changes>
        <changes lang="de">Changed Http client used by the plugin.</changes>
    </changelog>
    <changelog version="1.0.10">
        <changes lang="en">Added configuration which allows invoicing order on different state and a configuration to disable document validation on invoicing</changes>
        <changes lang="de">Added configuration which allows invoicing order on different state and a configuration to disable document validation on invoicing</changes>
    </changelog>
    <changelog version="1.0.9">
        <changes lang="en">Added Mondu Installments payment method</changes>
        <changes lang="de">Added Mondu Installments payment method</changes>
    </changelog>
    <changelog version="1.0.8">
        <changes lang="en">Plugin name changed from Mondu to Mond1SWR5</changes>
        <changes lang="de">Plugin name changed from Mondu to Mond1SWR5</changes>
    </changelog>
    <changelog version="1.0.7">
        <changes lang="en">Fixed Mondu Payment method UI on Checkout pages</changes>
        <changes lang="de">Fixed Mondu Payment method UI on Checkout pages</changes>
    </changelog>
    <changelog version="1.0.6">
        <changes lang="en">Added Mondu SEPA payment method</changes>
        <changes lang="de">Added Mondu SEPA payment method</changes>
    </changelog>
    <changelog version="1.0.5">
        <changes lang="en">Bugfixes</changes>
        <changes lang="de">Bugfixes</changes>
    </changelog>
    <changelog version="1.0.4">
        <changes lang="en">Automatically remove mondu payment if billing address does not include company name + fixed "Shopware.apps.Order.controller.List" override to work with other plugins</changes>
        <changes lang="de">Automatically remove mondu payment if billing address does not include company name + fixed "Shopware.apps.Order.controller.List" override to work with other plugins</changes>
    </changelog>
    <changelog version="1.0.3">
        <changes lang="en">Fixed services.xml</changes>
        <changes lang="de">Fixed services.xml</changes>
    </changelog>
    <changelog version="1.0.2">
        <changes lang="en">Minor changes</changes>
        <changes lang="de">Minor changes</changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="en">Minor changes</changes>
        <changes lang="de">Minor changes</changes>
    </changelog>
    <changelog version="1.0.0">
        <changes lang="en">First release</changes>
        <changes lang="de">First release</changes>
    </changelog>
</plugin>
